polkit.addRule(function(action, subject) {
	if (action.id == "ru.basealt.alterator.legacy.Info") {
        return polkit.Result.YES;
    }	
	if (action.id == "ru.basealt.alterator.legacy") {
        return polkit.Result.YES;
    }
});

